.div {margin-top: -40px}
.field {margin-top: 20px;}
.field1 {margin-top: 180px;}
.head {margin-left: 950px}
.head1 {padding-top: -20px}
TD, TH { text-align: center; font-weight: normal}
TABLE {border-collapse: collapse; margin-right: 3cm; font-size: medium}
